body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    background-color: #474e5d;
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    width: 100%;
}

.col-35 {
    -ms-flex: 35%;
    /* IE10 */
    flex: 35%;
    margin-bottom: 15px;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-65 {
    -ms-flex: 65%;
    /* IE10 */
    flex: 65%;
}

.col-35,
.col-50,
.col-65 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 8px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
    width: 45%;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
    width: 15%;
    text-align: right;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-35 {
        margin-bottom: 20px;
    }
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=number] {
    width: 15%;
}

.subtotal {
    width: 15%;
    text-align: right;
}


/* The delete Button (x) */

span .delete {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.delete:hover,
.delete:focus {
    color: red;
    cursor: pointer;
}